<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Mas Group - Billing Schedule</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <style>
      .alertDiv {
        font-size: 1.25rem;
        color: black;
        border-width: 3px;
        border-style: solid;
        border-radius: 25px;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 300px;
        text-align: center;
        display: none;
        padding: 10px 5px;
      }
  </style>
  </head>
  <body class="bg-dark text-light">
    <%- include('navbar') %>
    <div id="alertDiv" class="alertDiv"></div>
    <div class="text-center mt-3 fs-3">
      Billing Schedule
    </div>
    <form action="/bs" method="post">
      <div class="row mt-2">
        <div class="col-1 offset-4">Project No</div>
        <div class="col-2">
          <select class="form-select" id="projectno" name="projectno">
            <option value="0" selected>Select...</option>
            <% projects.map((project)=>{ %>
              <option value="<%= project.projectno %>"><%= project.projectno %></option>
            <% }) %>
          </select>
        </div>
        <div class="col-1">
          <button type="submit" id="btnSubmit" class="btn btn-primary">Go</button>
        </div>
      </div>
    </form>
    <div class="container">
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script>
      thisMsg = '';
      function showAlert(msg, color, duration){
        const alertDiv = document.getElementById('alertDiv')
        alertDiv.innerText = msg;
        alertDiv.style.borderColor = color;
        if(color == 'red'){
          alertDiv.style.backgroundColor = 'pink';
        }
        if(color == 'green'){
          alertDiv.style.backgroundColor = 'palegreen';
        }
        if(color == 'blue'){
          alertDiv.style.backgroundColor = 'powderblue';
        }
        alertDiv.style.display = 'block';
        setTimeout(() => {
          alertDiv.style.display = 'none';
        }, duration*1000);
      };

      function validForm(){
        const projectno = document.getElementById('projectno').value;
        
        if (projectno === "0"){
          thisMsg = 'Please select the Project No';
          return false;
        }
        return true;
      };

      document.getElementById('btnSubmit').addEventListener('click', function(event){
        if(!validForm()){
          event.preventDefault();
          showAlert(thisMsg, 'red', 2)
        }
      });
    </script>
  </body>
</html>